---
layout: compress
---

{% include head.html %}

    <main>

        {% include header.html %}

        <article>
            <h1>{{ page.title }}</h1>
            <p class="subtitle">{{ page.date | date: "%b %-d, %Y" }}</p>

            {{ page.content }}

            <hr>

            <p><a href="{{ site.baseurl }}/blog">← Back to all articles</a></p>
        </article>

    </main>

    {% include footer-post.html %}

    <!-- yschoe : Keyboard nav -->
    <script> 
    window.onload = function() {

      document.addEventListener('keyup', function(event) {

	const url = document.location.href;

      /* Nothing here yet. 

          window.location.href = ''; 

        if (event.key == "j") {
	  console.log('j');
	  console.log(url);
        } else if (event.key == "k") {
	  console.log('k');
	  console.log(url);
        }
      */

      });
    }
    </script>

</body>
</html>
